<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>  Burger from {{burger_Name}}</h1>

<ul>
{{#each burgers }}
  <li>{{burger_Name}}</li>
{{/each}}
</ul>
